.container {
  max-width: 800px;
  margin: 0 auto;
}
div.tab-content{
	 max-width: 800px;
  margin: 0 auto;
}
ul.nav {
	max-width: 850px;
  margin: 0 auto;
}
ul {
  display: flex;
  padding: 0;
  list-style: none;
}
ul li {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  color: #999;
  border-bottom: 2px solid transparent;
}
ul li:hover {
  color: #555;
  transition: 0.5s;
}

li.active {
  color: slateblue;
  border-bottom: 2px solid slateblue;
}
li.active:hover {
  background: slateblue;
  color: #fff;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

td.pd_right {
	padding-right:50px;
	align:center;
}

div.pagebar {
	font-size: 17pt;
	padding-left: 45%;
}

a.menu_cs, div.pagebar > a {
	color: #555;
}
a.menu_cs:hover, div.pagebar > a:hover {
	color: #999;
}