.container {
  max-width: 800px;
  margin: 0 auto;
}

ul.tabs {
  display: flex;
  padding: 0;
  list-style: none;
}
ul.tabs li.tabs_li {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  color: #999;
  border-bottom: 2px solid transparent;
}
ul.tabs li.tabs_li:hover {
  color: #555;
  transition: 0.5s;
}

li.active {
  color: slateblue;
  border-bottom: 2px solid slateblue;
}
li.active:hover {
  background: slateblue;
  color: #fff;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.pagination {
	dispaly:block;
	text-align:center;
}

.pagination > li > a {
	float :none;
}

td.mg_right {
	align:center;
	padding-right:20px;
}