@charset "UTF-8";

*{
	font-family: 'Noto Sans KR', sans-serif;
}

/* ==== header CSS ==== */

.content-width{
	width: 70%;
}

div#content-container{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px gray;
	padding: 0 10px;
}

div#header-div {
	margin-left: auto;
	margin-right: auto;
	/*position: fixed;*/
}

#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


#header-top-nav > ul {
	list-style-type : none;
	text-align: right;
	margin-top: 0;

}
#header-top-nav ul li:not(:nth-child(1)){
	padding-left: 1em;
}


#header-bottom-nav > ul {
	list-style-type : none;
	margin-bottom: 0;
	text-align: center;
	padding-left: 0;
}


#header-top-nav > ul > li, #header-bottom-nav > ul > li, #footer-nav > ul > li  {
	display: inline;
}

#logo {
	display: block;
	width: 155px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}


#header-bottom-nav > ul > li {
	padding-left: 6em;
}

div#container {
	float: left;
}

/* ==== footer CSS ==== */

.div-footer {
	margin-left: auto;
	margin-right: auto;
}

.div-footer #footer-nav ul {
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type : none;
	padding: 0;
	display: inline-block;
}

.div-footer #footer-nav ul#sns{
	list-style-type: none;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
} 

.div-footer #footer-nav ul#sns li{
	padding: 0;
	text-align: right;
}

#footer-nav ul#sns li img.snsicon {
	text-align: right;
	height: 30px;
	width: auto;
	margin-right: 5px;
}

#footer-nav div.divider {
	border: solid 1px #e6e6e6;
	border-left: none;
	height: 20px; 
	width: 1px; 
	display: inline;
	margin-right: 5px; 
}

#footer-nav > ul > li {
	padding-right: 1em;
}

#footer-nav > ul > li:hover, #header-top-nav > ul > li:hover, #header-bottom-nav > ul > li:hover, #footer-nav > ul > li:hover{
	font-weight: bold;
	cursor: pointer;
}

div.row {
	margin-left:auto;
	margin-right:auto;
	padding: 20px 0;
	
}

div.div-footer > p{
	margin-bottom: 5px;
}

div.col-container{
	display: inline-block;
	vertical-align: middle;
}

p.colname {
	font-weight: bolder;
}



/* === home.jsp CSS === */


h3.itemtitle {
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
	
}


