@charset "UTF-8";

/* === home.jsp CSS === */


.itemtitle {
	font-size: 25px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: bold;
	/* border: solid 1px gray; */
}

.content-width {
	width: 70%;
}


#content-container {
	padding: 50px 100px 0 100px;
	/* border: solid 1px gray; */
	margin-left: auto;
	margin-right: auto;
}

.clickable {
	cursor: pointer;
}

.hr-sect {
   display: flex;
   flex-basis: 100%;
   align-items: center;
   margin: 100px 0px 50px 0px;
 }
 .hr-sect::before,
 .hr-sect::after {
   content: "";
   flex-grow: 1;
   background: rgba(0, 0, 0, 0.35);
   height: 1px;
   font-size: 0px;
   line-height: 0px;
   margin: 0px 100px 0px 100px;
 }


/***** Multi item Carousel CSS *****/

div.slide-container{
	border: solid 1px gray;
	background-color: #ccc;
}

.carousel-control-next, .carousel-control-prev { border: 0; }

div.slideImg > img {
	height: 200px;
	
}


div#prodInfo > ul {
	list-style-type: none;
	padding-left: 0;
	/* border: solid 1px blue; */
}

div#prodInfo > ul > li{
	/* border: solid 1px red; */
	height: 25px;
}

.prodInfoList{
	padding-right: 5px;
	margin-bottom: 0;
}

carousel-control-prev, carousel-control-next{
	border: solid 1px gray;
}




/* 신상품 제품 목록 스크롤 페이징 처리 */
div.moreProdInfo {
   display: inline-block; 
   margin: 1em;
   /* border: solid 1px blue; */
   width: 21%;
   position: relative;
}


#displayNEW{
	width: 100%;
	margin: 0;
	
}

.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;	
	/* border: solid 1px purple; */
	opacity: 0;
  	transition: .3s ease;
  	background-color: #c0c0c0;
}

.overlay > span {
	opacity: 0;
}


div.moreProdInfo:hover .overlay {
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
}

div.moreProdInfo:hover, .overlay > span {
	opacity: 1; !important
	
	
}

