@charset "UTF-8";

/* === home.jsp CSS === */


.itemtitle {
	font-size: 25px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: bold;
	/* border: solid 1px gray; */
}

.content-width {
	width: 70%;
}


#content-container {
	padding: 50px 100px 0 100px;
	/* border: solid 1px gray; */
	margin-left: auto;
	margin-right: auto;
}

.clickable {
	cursor: pointer;
}

.hr-sect {
   display: flex;
   flex-basis: 100%;
   align-items: center;
   margin: 100px 0px 50px 0px;
 }
 .hr-sect::before,
 .hr-sect::after {
   content: "";
   flex-grow: 1;
   background: rgba(0, 0, 0, 0.35);
   height: 1px;
   font-size: 0px;
   line-height: 0px;
   margin: 0px 100px 0px 100px;
 }


/***** Multi item Carousel CSS *****/

div.slide-container{
	border: solid 1px gray;
	background-color: #ccc;
}

.carousel-control-next, .carousel-control-prev { border: 0; }

div.slideImg > img {
	height: 200px;
	
}


div#prodInfo > ul {
	list-style-type: none;
	padding-left: 0;
	/* border: solid 1px blue; */
}

div#prodInfo > ul > li{
	/* border: solid 1px red; */
	height: 25px;
}

.prodInfoList{
	padding-right: 5px;
	margin-bottom: 0;
}

carousel-control-prev, carousel-control-next{
	border: solid 1px gray;
}




/* 신상품 제품 목록 스크롤 페이징 처리 */
div.moreProdInfo {
   display: inline-block; 
   margin: 1em;
   /* border: solid 1px blue; */
   width: 21%;
   position: relative;
}


#displayNEW{
	width: 100%;
	margin: 0;
	
}

.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;	
	/* border: solid 1px purple; */
	opacity: 0;
  	transition: .3s ease;
  	background-color: #c0c0c0;
}

.overlay > span {
	opacity: 0;
}


div.moreProdInfo:hover .overlay {
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
}

div.moreProdInfo:hover, .overlay > span {
	opacity: 1; !important
	
	
}

/* 
** 제품 상세 페이지 **
#prod-content-container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px gray;
	padding-left: 70px;
	padding-right: 70px;
}

.breadcrumb {
	background-color: #ffffff!important;
	margin-top: 60px;
}


nav#info-list {
	text-align: left;
	margin-top: 0;
	border: solid 1px blue;
}

nav#info-list > ul > li {
	font-size: 20px;
	font-weight: bold;
	display: inline;
}

#prod-page-top{
	margin-top: 70px;
}

div.proddetailmain{
	display: table-cell;
	float: left;
	width: 50%;
	padding-left: 50px;
	padding-right: 50px;
	border: solid 1px gray;
	height: 600px;
}

img#mainimage{
	margin-top: 10%;
	border: solid 1px purple;
	height: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span#itemname {
	font-size: 20pt;
	border: solid 1px red;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

span#normalprice, span#price {
	display: block;
	font-size: 18pt;
	margin-top: 5px;
}

span#normalprice{color: #ccc;}

fieldset {border: 0; clear:both;}
label {
    display: block;
    margin: 30px 0 0 0;
  }
.overflow {
  height: 200px;
}
  
 
select#option1 {
  	width: 100%;
  	height: 10%;
  	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
	border: solid 1px red;
 }

table.table > tr {
	border-left: none;
	border-right: none;
	
}

button#btn-basket, button#btn-wishlist, button#btn-buynow{
	display: inline-block;
	width: 30%;
	height: 40px;
	background-color: #fff;
	color: #000;
	border: solid 1px #000;
	font-size: 12pt;
	padding: 5px 5px;
	margin-right: 10px;
	
}

button#btn-basket, button#btn-wishlist{
	background-color: #fff;
	color: #000;
}

button#btn-buynow{
	background-color: #000;
	color: #fff;
}

  
div#bestproductdiv{
	border: solid 1px red;
}


span#tbltextname {
	font-size: 13pt;
}

span#tblbestprice {
	font-size: 15px;
	font-weight: bold;
}

li.tabli {
	width: 20%;
	margin-left:auto;
	margin-right:auto;
	font-size: 18px;
	text-align: center;
}

td.qasortno, td.qasortac, td.qasortwriter {
	width: 150px;
	height: 40px;
	border-top: solid 2px black;
	border-bottom: solid 1px gray;
	font-weight: bold;
	text-align: center;
}

td.qasorttitle {
	width: 350px;
	border-top: solid 2px black;
	border-bottom: solid 1px gray;
	font-weight: bold;
	text-align: center;
}

td.qasortdate {
	width: 250px;
	border-top: solid 2px black;
	border-top: solid 2px black;
	border-bottom: solid 1px gray;
	font-weight: bold;
	text-align: center;
}

td.qasorttdno {
	width: 150px;
	height: 40px;
	border-bottom: solid 1px gray;
	text-align: center;
}

td.qasorttdac {
	width: 150px;
	border-bottom: solid 1px gray;
	text-align: center;
}

td.qasorttdtitle {
	width: 350px;
	border-bottom: solid 1px gray;
	text-align: left;
}

td.qasorttdwriter {
	width: 150px;
	border-bottom: solid 1px gray;
	text-align: center;
}

td.qasorttddate {
	width: 250px;
	border-bottom: solid 1px gray;
	text-align: center;
}

span.qasorttext{
	font-size: 15px;
}

span.rvch {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 30px;
   	
}
 */



