@charset "UTF-8";

*{
	font-family: 'Noto Sans KR', sans-serif;
}

/* memberRegister.jsp 적용 ////////////////////////////////////////////// */

div#registerContainer {	
	padding-top: 50px;
	margin: 0 auto;	
	width: 70%;
}
table {
	height: 500px;
	margin: 50px 0 0 18%;
}
td {
	margin-top: 30px;	
	/* border: solid 1px green; */	
}
.space {	
	margin-right: 20px;	
	height: 30px;
	width: 240px;
}
.design {
	padding-top:15px;
}
div#Aggrements {
	margin-top: 50px;
}
input[type="checkbox"] {
	margin-top: 5px;	
}
button.check {
	font-size: 8pt;
}
input#ph1 {
	width: 50px;
	margin-right: 0;	
}
button#register {
	margin-left: 60%;
	width: 200px;
	height: 40px;	
}
.confirm {
	margin-left: 50px;
	font-weight: bold;
	font-size: 11pt;
	color: red;
}
.gender {
	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
