@charset "UTF-8";

div#cartcontainer{
	margin: 70px auto;
}
div#contents{
	position: relative; 
	width:70%;
	margin: 0 auto;
}

div.information{
	display: table;
	padding: 10px 0;
	width:100%;
	table-layout: fixed;
	box-sizing: border-box;
	border: solid 1px #CCD1D1;
}

div.information .decription{
	display: table-cell;
	padding: 0 10px;
	width: auto;
	line-height: 1.5em;
	vertical-align: middle;
	text-align: center;

}

div.displaynone{
	margin: 40px 0px;
}
table{
	width:100%;
	border-top: solid 1px #CCD1D1;
	border-bottom: solid 1px #CCD1D1;
	vertical-align: middle;
}

div.option_change{
	padding: 0px;
	background-color: #909497;
	width:450px;
}

div.option_layer{
	position: absolute;
	z-index: 100;
	border: solid 1px #909497;
	background-color: white;
	padding: 0px;
	}
div.option_header{
	background-color: #909497;
	padding: 0.3px 35px 0.3px 19px;
	margin-top:0px;
	color: white;
	height: 36px;
}
div.close{
	position: absolute;
	right:0;
	top:0;
	cursor: pointer;
	padding: 5px 20px;
}

h3{
margin:9px 3px;
font-size: 12pt;
}

a.btn_option{
	display: inline-block;
	border: solid 1px #CCD1D1;
	cursor: pointer;
	margin-top: 10px;
	padding: 0px 7px;
	font-size: 10pt;
	width: 107px;
	text-align: center;
}
th{
	text-align: center;
	height: 40px;
}
tr{
	border-bottom: solid 1px #CCD1D1;
	vertical-align: middle;
	text-align: center;
}


tr.cartprice{
	text-align: center;
	vertical-align: middle;
	height: 70px;
}

a.btnLarge{
	display: inline-block;
	width: 160px;
	height: 50px;
	border-radius: 0px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	opacity: 1;
}


a#allorder{
	background-color: black;
	color:white;
	border: solid 1px black;
	margin: 0px 10px 0px 520px;
}

a#seperateorder{
	background-color: #E5E8E8 ;
	color:black;
	border: solid 1px #CCD1D1 ;
}

a#shoppingcon {
	background-color: white ;
	color:black;
	border: solid 1px #CCD1D1 ;
	
}

span.btn_right{
	float: right;
}

a.btn_small{
	display: inline-block;
	padding: 2px 2px;
	margin: 5px 7px;
	border: solid 1px #CCD1D1 ;
	cursor: pointer;
	font-size: 12pt;
	width: 90px;
	height: 35px;
	text-decoration: none;
}
 a { color: black;}
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none; cursor: pointer;}

div.title{
	margin: 35px 0px;
}

<!-- 옵션 변경 레이어  -->

    *{
        margin: 0;
        padding: 0;
    }
     .optionModify{
   
    width: 450px;
    color: #707070;
    }
    .ec-base-layer2 {
    position: absolute;
    z-index: 100;
    border: 1px solid #757575;
    background: #fff;
}
    .ec-base-layer2 .content {
    padding: 20px;
    font-size: 12px;
}
.ec-base-layer2 .header {
    padding: 7px 35px 7px 19px;
    color: #fff;
    background: #595959;
}
     .optionModify .prdInfo {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px dotted #b0b1b3;
    line-height: 1.5;
}
    .optionModify .prdModify li {
    padding: 6px 0 0;
}
    .ec-base-layer2 .ec-base-button {
    padding: 9px;
    border-top: 1px solid #d7d5d5;
    text-align: center;
    background: #fbfafa;
}
    .ec-base-layer2 .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 20px;
    cursor: pointer;
}
    .optionModify .prdModify li select {
    float: right;
    width: 294px;
    line-height: 24px;
    font-size: 12px;
}
    .optionModify .prdModify h4 {
    color: #353535;
    font-size: 12px;
}
    .optionModify .prdInfo li {
    color: #353535;
    font-weight: bold;
}
   .optionModify .prdInfo li.option {
    color: #707070;
    font-weight: normal;
}

    ul , li {
        list-style: none;
    }
    .ec-base-layer2 .header > h1, .ec-base-layer .header > h3 {
    font-size: 14px;
    line-height: 1.5;
}
    .header > h1, .ec-base-layer2 .header > h3 {
    font-size: 14px;
    line-height: 1.5;
}
   
